---
layout: default
title: Home
cover: '/assets/images/cover.jpg'
about: 'about.html'
---
<!-- <header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}"> -->

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button" href="{{ site.baseurl }}blog">Blog</a>
        <a class="subscribe-button" href="{{ site.baseurl }}talks">Talks</a>
        <!-- <a class="subscribe-button icon-feed" href="{{ site.baseurl }}rss.xml"></a> -->
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }} {% endif %}
                <!-- {% if page.about %} <a href='{{ site.baseurl }}{{ page.about }}'> About me </a> {% endif %} -->
            </h2>
        </div>
    </div>
</header>


<main id="content" class="content" role="main">
  <article class="post">
    <header class="post-header">
      <h2 class="post-title">
        About
      </h2>
      <section class="about-excerpt">
        <p>I'm a Senior UI Engineer who specializes in building great user experiences and data visualizations. Currently, I'm working
        in the Digital Platform Group at McGraw-Hill Education.
        </p>
        <p>I create awesome web applications and love to teach others to code. Hire me to create, teach you to code, or speak at your next event.</p>
        <p>Aside from hacking, I take pleasure in small things like: black coffee, new shoes, and my daughter's smile.</p>
      </section>
    </header>
  </article>

  <article class="post contact">
    <figure class="profile">
      <img src="/assets/images/profile.jpg" alt="">
    </figure>
    <div class="contact-section">
      <h2 class="contact-header">Contact</h2>
      <div class="contact-links">
        <a class="subscribe-button" href="http://twitter.com/_victormejia">Twitter</a>
        <a href="https://github.com/victormejia" class="subscribe-button">GitHub</a>
        <a href="https://www.linkedin.com/in/mejiavictor" class="subscribe-button">LinkedIn</a>
      </div>
    </div>
  </article>
</main>
